
#App {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  margin:0;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fiveDayText {
  color: black;
}
h1 {
  font-size: 64px;
  text-shadow: 1px 1px 3px #000000;
}

h2 {
  text-shadow: 1px 1px 3px #000000;
<<<<<<< HEAD
}

h4 {
  text-shadow: 1px 1px 3px #000000;
=======
  
>>>>>>> 6536cc221ba60ce8a41c6f958545abee9d1a393a
}

#photo {
  height: 80px;
  width: 80px;
  -webkit-filter: drop-shadow(1px 1px 3px #000000);
  filter: drop-shadow(1px 1px 3px #000000);}

.refreshIcon {
  top:3px;
<<<<<<< HEAD
  height: 30px;
=======
  height: 40px;
>>>>>>> 6536cc221ba60ce8a41c6f958545abee9d1a393a
  right: 5px;
  position: absolute;
  cursor:pointer;
}

.menuIcon {
  top:3px;
  height: 30px;
  left: 5px;
  position: absolute;
  cursor:pointer;

}

.fadeBackground {
  width: 60%;
  margin: auto;
  
  background: rgba(255, 255, 255, 0.3)
}

.fiveBackground {
  background: #26c941;
  width: 50%;
}
.bottomTab {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
  background-color: white;
  color: rgb(180, 180, 180);
  border-radius: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
}

.settingsTab{
  position: absolute;
  width: 0%;
  height: 100%;
  bottom: 0px;
  background-color: white;
  color: #282c34;
  border-radius: 20px;
}

.settingsButton{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
